.bodyy{
    font-family: sans-serif;
    margin: 0;
    background-image: url(/img/background-atlas.jpg);
    background-repeat: no repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.contenedordenav :hover{
    color: white;
    text-decoration: none;
    
    font-weight: 600;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: #4f7981;
}

.navbar {
    display: flex;
    min-height: 70px;
    background-color: #171A21 ;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

.logo{
    display: flex ;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}




@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px  0px;
    }
}

h3{
    color: darkslateblue;
}
h2{
    color: #7a93ac;
}

.fondodelistas{
    color: #617073;
}

.centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* background-color: black; */
    /* background-size: 50% auto; */
    /* opacity: 0.8; */
    height: 50px;
    border-radius: 50px;
    

}

.divContainer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 30px;
        
}

.footer{
    position: absolute;
    margin-top: auto;
}

.bodypecho{
    
}





