@charset "UTF-8";
.contenedordenav :hover {
  color: white;
}

.contenedordenav {
  color: #186b7b;
  font-weight: 600;
  padding-right: 10px;
  display: flex;
  text-decoration: none;
  align-content: space-around  !important;
  justify-content: space-between;
}
.contenedordenav a {
  text-decoration: none;
  color: #186b7b;
}
.contenedordenav .nav-link {
  margin: 5px;
}

.containerli {
  flex-direction: row;
}

.containerli {
  display: flex;
  align-items: flex-end;
  height: 100%;
  list-style: none;
  margin-left: 10px;
  margin: 20px;
  justify-content: space-between;
}

.body {
  font-family: sans-serif;
  margin: 0;
  background-image: url(/img/atlasbackgroundcut.PNG);
  background-repeat: no repeat;
  background-size: cover;
  background-position: 30% 70%;
  padding: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.bodyhtml {
  background-color: grey;
}

.centrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  /* background-color: black; */
  /* background-size: 50% auto; */
  /* opacity: 0.8; */
  height: 50px;
  border-radius: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.fondodelistas {
  color: navy;
  flex-direction: row;
}

.divContainer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 20px;
  font-size: 20px;
}

.videos {
  width: 40%;
  margin-left: 5%;
  border: black solid;
}

.imagenes-index {
  display: grid;
  height: 30vh;
  width: 25vh;
  border: black solid;
}

.imagen-couch {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 450px;
  display: inline;
  padding-bottom: 20px;
  gap: 20px;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  color: #054f5d;
  border-color: black;
  font-size: larger;
}

.navbar {
  display: flex;
  background-color: #171A21;
  justify-content: space-between;
  align-items: end;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    background-color: #171A21;
    justify-content: center;
    align-items: center;
  }
  .body {
    background-position: 40%;
    background-position: center;
    background-position-y: 40%;
  }
}
.divcontainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .containerli {
    flex-direction: row;
  }
  .nav-link {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .divContainer div {
    justify-self: center;
  }
  .divContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
.divContainer {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 20px;
  font-size: 20px;
  flex-wrap: wrap;
}

h3 {
  color: indigo;
  margin-left: 10px;
  font-family: "Belanosima", sans-serif;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
}

h2 {
  color: #7a93ac;
  font-family: "Belanosima", sans-serif;
  text-transform: capitalize;
  text-shadow: 1px 0 indigo, 2px 0 blue;
}/*# sourceMappingURL=styles.css.map */