@use './components/navbar';
@use './components/containerli';
@use './components/body';
@use './components/centrar';
@use './components/logo';
@use './components/fondodelistas';
@use './components/divcontainer';
@use './components/videosimagenes';
@use './components/as';
@use './components/animaciones';
@use './components/mediaqueris';


h3{
    color: darkslateblue;
    margin-left: 10px;
}
h2{
    color: #7a93ac;
}


