.body{
    font-family: sans-serif;
    margin: 0;
    background-image: url(/img/background-atlas.jpg);
    background-repeat: no repeat;
    background-size:cover;
    padding: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}