@media screen and (max-width:800px){
    .navbar {
        display: flex;
        min-height: 70px;
        background-color: #171A21 ;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: sticky;
        top: 0;
        
    }

    
    

    .divcontainer{
        display: flex;
        justify-content: center;

    }
}

@media (max-width: 768px) {
    .containerli {
        flex-direction: column;
    }
    .nav-link {
        margin-bottom: 10px;
    }
}
@media (max-width: 576px) {
    .divContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        
    }
}

.navbar{
    display: flex;
    background-color: #171A21;
    justify-content: space-between;
    align-items: end;
}