.contenedordenav :hover{
    color: white;
} 
    .contenedordenav{
        color: #186b7b;
        font-weight: 600;
        padding-right: 10px;
        display: flex;
        text-decoration: none;
        align-content: space-around !important;
        justify-content: space-between;
        
        
a{
    text-decoration: none;
    color: #186b7b;
}
.nav-link{
    margin: 5px;
}

}

.containerli{
    flex-direction: row;
}