.videos{
    width: 40%;
    margin-left: 5%;
    border: black solid;
}

.imagenes-index{
    display: grid;
    height: 30vh;
    width: 25vh;
    border: black solid;
}

// .imagen-couch1{
//     gap: 10px;
//     padding-bottom: 10px;
// }
// .imagen-couch2{
//     gap: 10px;
//     padding-bottom: 0px;
//     padding-left: 30px;
//     margin-top: 20px;
//     
// }
.imagen-couch{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
    display: inline;
    padding-bottom: 20px;
    gap: 20px;

}