.videos{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    max-width: 700px;
    max-height: 1080px;
    padding: 10px;
    gap: 16px;
}